@import "tailwindcss";

@theme {
    --color-primary: #d7c4e0;
    --color-light: #bfa9d7;
    --color-secondary: #9f8ec5;
    --color-tertiary: #665aa6;
    --color-quaternary: #3b3170;
    --color-dark: #271f50;
    --color-hard-dark: #171133;
}

/* In your global.css or tailwind.css */
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(228, 223, 223, 0.384);
    opacity: 0.5;
    border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #bfa9d794;
    border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

img {
    filter: blur(0.5px);
  }